<link rel="stylesheet" href="css/account.css">
<h4 class="text-center">Hi! Have a nice day and good luck with your studies.</h4>
<h2 class="text-center">Sign Up</h2>
<form class="" name='regForm' novalidate>
  <!-- First Name -->
  <input type="text" placeholder="First Name" class="form-control"
          name="firstname"
          ng-model="reg.account.firstName"
          required
          pattern="\S{2,}">
  <span   ng-if="(regForm.firstname.$invalid || regForm.firstname.$error.required) && regForm.firstname.$touched">
          First name must be at least 2 characters long
  </span>

  <!-- Last Name -->
  <input type="text" placeholder="Last Name" class="form-control"
          name="lastName"
          ng-model="reg.account.lastName"
          required
          pattern="\S{2,}">
  <span   ng-if="(regForm.firstname.$invalid || regForm.lastName.$error.required) && regForm.lastName.$touched">
          Last name must be at least 2 characters long
  </span>

<!-- email -->
  <input type="email" placeholder="Email" class="form-control"
          name="email"
          ng-model="reg.account.email"
          required
          min-length="2">
  <span   ng-if="regForm.email.$invalid && regForm.email.$touched">
          Must be a valid email address: handle@domain format
  </span>

<!-- address -->
  <input type="text" placeholder="Address" class="form-control"
          name="address"
          ng-model="reg.account.address"
          required>
  <span   ng-if="regForm.address.$error.required && regForm.address.$touched">
          The field cannot be blank
  </span>
<!-- phone number -->
  <input type="text" placeholder="Phone Number" class="form-control"
          name="phone"
          ng-model="reg.account.phone"
          required
          pattern="(\d{3})-(\d{3})-(\d{4})">
  <span   ng-if="regForm.phone.$invalid && regForm.phone.$touched">
            Phone must be in the format ###-###-####
  </span>
  <input type="text" placeholder="Favorite dish short name" class="form-control"
          name="favoriteShortName"
          ng-model="reg.favoriteShortName"
          required
          ng-blur="reg.checkDishName()">
  <span   ng-if="regForm.favoriteShortName.$error.required && regForm.favoriteShortName.$touched">
          The field cannot be blank. Enter the name of one favorite dish.
  </span>
  <p ng-if="reg.favoriteExist == false">No such menu number exists. Try another dish. Example: L1, FR2, DK2 ...</p>

  <button  class="btn btn-primary"
          ng-disabled="regForm.$invalid || (reg.favoriteExist != true)"
          ng-click="reg.submit()">Sign Up</button>

</form>
<div class="text-center" ng-if="reg.signup">
  Your information has been saved! You can see it on <a ui-sref="public.myinfo">this</a> page
</div>
